repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: ["--fix"]
  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend eslint
        entry: bash -c "cd frontend && npm run lint"
        language: system
        pass_filenames: false
