services:
  tests:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      APP_ENV: dev
      DATA_DB_PATH: /app/data/data.db
    volumes:
      - ./:/app
    working_dir: /app
    command: ["pytest"]
